/1º Trimestre/EjercicioVariables/nbproject/private/
/1º Trimestre/EjercicioVariables/build/
/1º Trimestre/EjercicioLecturateclado/nbproject/private/
/1º Trimestre/Tema 2/EjercicioLecturateclado/build/